@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #FFDEE9;
    background-image: radial-gradient(#000000 1px, transparent 1px);
    background-size: 20px 20px;
    color: #000000;
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-left: 3px solid black;
}

::-webkit-scrollbar-thumb {
    background: #FFC900;
    border: 3px solid black;
    box-shadow: inset -2px -2px 0px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: #FF90E8;
}

.text-stroke {
    -webkit-text-stroke: 1px black;
}

.text-stroke-2 {
    -webkit-text-stroke: 2px black;
}